@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#000000;
  }
  
  h1 {
    font-size:3em; 
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
  }
  
  h2 {
    font-size:1em; 
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
  }
  
  h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
    
  }
  
  .blue { color: #185875; }
  .yellow { color: #FFF842; }
  
  .container1 th h1 {
      font-weight: bold;
      font-size: 1em;
    text-align: left;
    color: #000000;
  }
  
  .container1 td {
      font-weight: normal;
      font-size: 1em;
    -webkit-box-shadow: 0 10px 2px -2px #fcc5c5;
       -moz-box-shadow: 0 12px 2px -2px #fcc5c5;
            box-shadow: 0 12px 2px -2px #fcc5c5;
            
  }
  
  .container1 {
      text-align: left;
      overflow: hidden;
      width: 80%;
      margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
  }
  
  .container1 td, .container1 th {
      padding-bottom: 2%;
      padding-top: 2%;
    padding-left:2%;
  }
  
  /* Background-color of the odd rows */
  .container1 tr:nth-child(odd) {
      background-color: #8ff5c3;
      
  }
  
  /* Background-color of the even rows */
  .container1 tr:nth-child(even) {
      background-color: #8ff5c3;
      
  }
  
  .container1 th {
      background-color: #fbfbfb;
      border-radius: 10px;
      
      
  }
  
  .container1 td:first-child { border-radius: 25px; color: #000000; }

  .container1 td:last-child { border-radius: 25px;  color:#ec4197;}
  
  
  
  
  .container1 tr:hover {
     background-color: #edb4eb	;
     
    -webkit-box-shadow: 0 20px 6px -6px #fcc5c5;
       -moz-box-shadow: 0 20px 6px -6px #fcc5c5;
            box-shadow: 0 20px 6px -6px #fcc5c5;
            
  }
  
  .container1 td>div:hover {
    background-color: #2ced83;
    color: #000000;
    font-weight: bold; 
    box-shadow: #22864c -1px 1px, #0b9a5a -2px 2px, #075523 -3px 3px, #0d0d03 -4px 4px, #050503 -5px 5px, #060604 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    border-radius : 10px;
    overflow: auto;

    
    
    
    transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
    transition-timing-function: line;
  }
  
  @media (max-width: 800px) {
  .container1 td:nth-child(4),
  .container1 th:nth-child(4) { display: none; }
  }

  .ten h1 {
    font-size:34px; font-weight:500; text-transform:uppercase;
  }
  .ten h1:after {
      left: auto;
      background-color: #c50000;
      border-radius: 0.25rem;
      content: '';
      display: block;
      height: 0.25rem;
      width: 42px;
      margin-bottom: 1.25rem;
  }
  